iot/nodered/flow/flow-bk/flows-Mqtt-Cmon-IoT.json
[
    {
        "id": "1c3bea9e7d82d2cf",
        "type": "tab",
        "label": "MQTT-Cmon-server",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "a8e631f7ad69367a",
        "type": "mqtt out",
        "z": "1c3bea9e7d82d2cf",
        "name": "",
        "topic": "sensors/temp1",
        "qos": "1",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "e68266b0e85c90f4",
        "x": 640,
        "y": 80,
        "wires": []
    },
    {
        "id": "01a9c7d41882f489",
        "type": "mqtt in",
        "z": "1c3bea9e7d82d2cf",
        "name": "",
        "topic": "sensors/temp1",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "e68266b0e85c90f4",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 160,
        "y": 520,
        "wires": [
            [
                "b2503175e906ea10"
            ]
        ]
    },
    {
        "id": "b2503175e906ea10",
        "type": "debug",
        "z": "1c3bea9e7d82d2cf",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 390,
        "y": 520,
        "wires": []
    },
    {
        "id": "6f57d72d8612eaab",
        "type": "inject",
        "z": "1c3bea9e7d82d2cf",
        "name": "",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "5",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "topic": "sensors/temp1",
        "x": 190,
        "y": 160,
        "wires": [
            [
                "1ef3b6639878c2c7"
            ]
        ]
    },
    {
        "id": "cb61bb5d6c912506",
        "type": "mqtt in",
        "z": "1c3bea9e7d82d2cf",
        "name": "",
        "topic": "sensors/temp2",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "e68266b0e85c90f4",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 160,
        "y": 580,
        "wires": [
            [
                "5b272adc9090f77e"
            ]
        ]
    },
    {
        "id": "5b272adc9090f77e",
        "type": "debug",
        "z": "1c3bea9e7d82d2cf",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 390,
        "y": 580,
        "wires": []
    },
    {
        "id": "b2602e7d5bac5e64",
        "type": "mqtt out",
        "z": "1c3bea9e7d82d2cf",
        "name": "",
        "topic": "sensors/temp2",
        "qos": "1",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "e68266b0e85c90f4",
        "x": 640,
        "y": 140,
        "wires": []
    },
    {
        "id": "2ac6ca6ba687523f",
        "type": "inject",
        "z": "1c3bea9e7d82d2cf",
        "name": "",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "5",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "topic": "sensors/temp2",
        "x": 190,
        "y": 200,
        "wires": [
            [
                "50d9cd8020785f09"
            ]
        ]
    },
    {
        "id": "323da10fc35dcfa4",
        "type": "mqtt out",
        "z": "1c3bea9e7d82d2cf",
        "name": "",
        "topic": "sensors/humi1",
        "qos": "1",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "e68266b0e85c90f4",
        "x": 640,
        "y": 200,
        "wires": []
    },
    {
        "id": "4191c46b16a4a64c",
        "type": "inject",
        "z": "1c3bea9e7d82d2cf",
        "name": "",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "5",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "topic": "sensors/humi1",
        "x": 180,
        "y": 240,
        "wires": [
            [
                "6134312aa56148f2"
            ]
        ]
    },
    {
        "id": "196ef96d5e7eaaa1",
        "type": "mqtt out",
        "z": "1c3bea9e7d82d2cf",
        "name": "",
        "topic": "sensors/humi2",
        "qos": "1",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "e68266b0e85c90f4",
        "x": 640,
        "y": 260,
        "wires": []
    },
    {
        "id": "acb97795c4ceb3c8",
        "type": "inject",
        "z": "1c3bea9e7d82d2cf",
        "name": "",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "5",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "topic": "sensors/humi2",
        "x": 180,
        "y": 280,
        "wires": [
            [
                "37443be6c94cd5a2"
            ]
        ]
    },
    {
        "id": "0ce0119bec1a6a73",
        "type": "debug",
        "z": "1c3bea9e7d82d2cf",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 390,
        "y": 620,
        "wires": []
    },
    {
        "id": "f34793dfb579f13d",
        "type": "mqtt in",
        "z": "1c3bea9e7d82d2cf",
        "name": "",
        "topic": "sensors/humi1",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "e68266b0e85c90f4",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 160,
        "y": 640,
        "wires": [
            [
                "0ce0119bec1a6a73"
            ]
        ]
    },
    {
        "id": "b418c2ee1931dabc",
        "type": "debug",
        "z": "1c3bea9e7d82d2cf",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 390,
        "y": 660,
        "wires": []
    },
    {
        "id": "b03f9449413465d7",
        "type": "mqtt in",
        "z": "1c3bea9e7d82d2cf",
        "name": "",
        "topic": "sensors/humi2",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "e68266b0e85c90f4",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 160,
        "y": 700,
        "wires": [
            [
                "b418c2ee1931dabc"
            ]
        ]
    },
    {
        "id": "e0856c4fabd2c3b9",
        "type": "mqtt out",
        "z": "1c3bea9e7d82d2cf",
        "name": "",
        "topic": "sensors/Volte1",
        "qos": "1",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "e68266b0e85c90f4",
        "x": 640,
        "y": 320,
        "wires": []
    },
    {
        "id": "1ff585d3ae8c2b59",
        "type": "inject",
        "z": "1c3bea9e7d82d2cf",
        "name": "",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "5",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "topic": "sensors/Volte1",
        "x": 190,
        "y": 320,
        "wires": [
            [
                "a630b96b3446e3be"
            ]
        ]
    },
    {
        "id": "f95b441736400f79",
        "type": "debug",
        "z": "1c3bea9e7d82d2cf",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 390,
        "y": 700,
        "wires": []
    },
    {
        "id": "4b48c112585249f6",
        "type": "mqtt in",
        "z": "1c3bea9e7d82d2cf",
        "name": "",
        "topic": "sensors/Volte1",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "e68266b0e85c90f4",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 160,
        "y": 760,
        "wires": [
            [
                "f95b441736400f79"
            ]
        ]
    },
    {
        "id": "1fbfb7ef11e440d5",
        "type": "mqtt out",
        "z": "1c3bea9e7d82d2cf",
        "name": "",
        "topic": "sensors/Amp1",
        "qos": "1",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "e68266b0e85c90f4",
        "x": 640,
        "y": 380,
        "wires": []
    },
    {
        "id": "8434e7dfcd817be8",
        "type": "inject",
        "z": "1c3bea9e7d82d2cf",
        "name": "",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "5",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "topic": "sensors/Amp1",
        "x": 180,
        "y": 360,
        "wires": [
            [
                "5a57bcf0509cfac1"
            ]
        ]
    },
    {
        "id": "b5ef4df9a11ef2e5",
        "type": "debug",
        "z": "1c3bea9e7d82d2cf",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 390,
        "y": 740,
        "wires": []
    },
    {
        "id": "109fc554c39e45bc",
        "type": "mqtt in",
        "z": "1c3bea9e7d82d2cf",
        "name": "",
        "topic": "sensors/Amp1",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "e68266b0e85c90f4",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 150,
        "y": 820,
        "wires": [
            [
                "b5ef4df9a11ef2e5"
            ]
        ]
    },
    {
        "id": "15b8d97c70083c89",
        "type": "inject",
        "z": "1c3bea9e7d82d2cf",
        "name": "",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "5",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "topic": "sensors/Relay1",
        "x": 190,
        "y": 400,
        "wires": [
            [
                "cac63d9a1484e51c"
            ]
        ]
    },
    {
        "id": "3aa8de09a05ba015",
        "type": "mqtt out",
        "z": "1c3bea9e7d82d2cf",
        "name": "",
        "topic": "sensors/Relay1",
        "qos": "1",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "e68266b0e85c90f4",
        "x": 640,
        "y": 440,
        "wires": []
    },
    {
        "id": "c9e6df7d37088036",
        "type": "debug",
        "z": "1c3bea9e7d82d2cf",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 390,
        "y": 780,
        "wires": []
    },
    {
        "id": "5b09274b33a4c363",
        "type": "mqtt in",
        "z": "1c3bea9e7d82d2cf",
        "name": "",
        "topic": "sensors/Relay1",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "e68266b0e85c90f4",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 160,
        "y": 880,
        "wires": [
            [
                "c9e6df7d37088036"
            ]
        ]
    },
    {
        "id": "cac63d9a1484e51c",
        "type": "Number",
        "z": "1c3bea9e7d82d2cf",
        "name": "Random Number",
        "minimum": "0",
        "maximum": "1",
        "roundTo": "2",
        "Floor": true,
        "x": 430,
        "y": 400,
        "wires": [
            [
                "3aa8de09a05ba015"
            ]
        ]
    },
    {
        "id": "1ef3b6639878c2c7",
        "type": "createrandom",
        "z": "1c3bea9e7d82d2cf",
        "generator": "Number",
        "type_generator": "generator",
        "label": "",
        "param_1": "1",
        "type_param_1": "Minimum",
        "param_2": "100",
        "type_param_2": "Maximum",
        "param_3": "",
        "type_param_3": "",
        "f_use_debug": false,
        "x": 420,
        "y": 160,
        "wires": [
            [
                "a8e631f7ad69367a"
            ]
        ]
    },
    {
        "id": "50d9cd8020785f09",
        "type": "createrandom",
        "z": "1c3bea9e7d82d2cf",
        "generator": "Number",
        "type_generator": "generator",
        "label": "",
        "param_1": "1",
        "type_param_1": "Minimum",
        "param_2": "100",
        "type_param_2": "Maximum",
        "param_3": "",
        "type_param_3": "",
        "f_use_debug": false,
        "x": 420,
        "y": 200,
        "wires": [
            [
                "b2602e7d5bac5e64"
            ]
        ]
    },
    {
        "id": "6134312aa56148f2",
        "type": "createrandom",
        "z": "1c3bea9e7d82d2cf",
        "generator": "Number",
        "type_generator": "generator",
        "label": "",
        "param_1": "1",
        "type_param_1": "Minimum",
        "param_2": "100",
        "type_param_2": "Maximum",
        "param_3": "",
        "type_param_3": "",
        "f_use_debug": false,
        "x": 420,
        "y": 240,
        "wires": [
            [
                "323da10fc35dcfa4"
            ]
        ]
    },
    {
        "id": "37443be6c94cd5a2",
        "type": "createrandom",
        "z": "1c3bea9e7d82d2cf",
        "generator": "Number",
        "type_generator": "generator",
        "label": "",
        "param_1": "1",
        "type_param_1": "Minimum",
        "param_2": "100",
        "type_param_2": "Maximum",
        "param_3": "",
        "type_param_3": "",
        "f_use_debug": false,
        "x": 420,
        "y": 280,
        "wires": [
            [
                "196ef96d5e7eaaa1"
            ]
        ]
    },
    {
        "id": "a630b96b3446e3be",
        "type": "createrandom",
        "z": "1c3bea9e7d82d2cf",
        "generator": "Number",
        "type_generator": "generator",
        "label": "",
        "param_1": "220",
        "type_param_1": "Minimum",
        "param_2": "350",
        "type_param_2": "Maximum",
        "param_3": "",
        "type_param_3": "",
        "f_use_debug": false,
        "x": 420,
        "y": 320,
        "wires": [
            [
                "e0856c4fabd2c3b9"
            ]
        ]
    },
    {
        "id": "5a57bcf0509cfac1",
        "type": "createrandom",
        "z": "1c3bea9e7d82d2cf",
        "generator": "Number",
        "type_generator": "generator",
        "label": "",
        "param_1": "20",
        "type_param_1": "Minimum",
        "param_2": "550",
        "type_param_2": "Maximum",
        "param_3": "",
        "type_param_3": "",
        "f_use_debug": false,
        "x": 420,
        "y": 360,
        "wires": [
            [
                "1fbfb7ef11e440d5"
            ]
        ]
    },
    {
        "id": "e68266b0e85c90f4",
        "type": "mqtt-broker",
        "name": "",
        "broker": "f17ec3c03a87413687b6d237e547e349.s1.eu.hivemq.cloud",
        "port": "8883",
        "tls": "",
        "clientid": "",
        "autoConnect": true,
        "usetls": true,
        "protocolVersion": 4,
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    }
]