iot/nodered/flow/flows-InfluxDb-node-red-1.json
[
  {
    "id": "ecbb02face30cbcd",
    "type": "influxdb out",
    "z": "4542482476b9c71d",
    "influxdb": "1c1a5edef41716e3",
    "name": "InfluxDB",
    "measurement": "temperature",
    "precision": "",
    "retentionPolicy": "",
    "database": "database",
    "precisionV18FluxV20": "s",
    "retentionPolicyV18Flux": "",
    "org": "organisation",
    "bucket": "my_data",
    "x": 360,
    "y": 220,
    "wires": []
  },
  {
    "id": "de83c2b49ba249fd",
    "type": "inject",
    "z": "4542482476b9c71d",
    "name": "",
    "props": [
      {
        "p": "measurement",
        "v": "temperature",
        "vt": "str"
      },
      {
        "p": "payload"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "[{\"time\":1688987984,\"temperature\":24},{\"device\":\"dQBgXeWLRE\",\"deviceType\":\"Pi4\",\"deviceName\":\"demo-pi-rob\"}]",
    "payloadType": "json",
    "x": 190,
    "y": 160,
    "wires": [
      [
        "aad6353f2f00333e",
        "ecbb02face30cbcd"
      ]
    ]
  },
  {
    "id": "aad6353f2f00333e",
    "type": "debug",
    "z": "4542482476b9c71d",
    "name": "debug 31",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 360,
    "y": 160,
    "wires": []
  },
  {
    "id": "1c1a5edef41716e3",
    "type": "influxdb",
    "hostname": "127.0.0.1",
    "port": "8086",
    "protocol": "http",
    "database": "my_data",
    "name": "",
    "usetls": false,
    "tls": "",
    "influxdbVersion": "2.0",
    "url": "https://localhost",
    "rejectUnauthorized": true
  }
]