iot/nodered/flow/flowsCmon-IN.json
[
    {
        "id": "f6f2187d.f17ca8",
        "type": "tab",
        "label": "cmobmqtt",
        "disabled": false,
        "info": ""
    },
    {
        "id": "5de7f14c5fa1300e",
        "type": "mqtt out",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "topic": "Cmon/Temp1",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "f94943df.4b82a",
        "x": 650,
        "y": 20,
        "wires": []
    },
    {
        "id": "bf723145a19696cf",
        "type": "inject",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "5",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 130,
        "y": 240,
        "wires": [
            [
                "f34b7baa5586ca33",
                "633d250dd8ca4da2",
                "00bff4c6c9adad62",
                "efd2c7d234b9b825",
                "1edb8f0844f35402",
                "47b23f9f5484f723",
                "0b4eadfb981d1ab1",
                "8230da97c30beb96"
            ]
        ]
    },
    {
        "id": "f34b7baa5586ca33",
        "type": "random",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "low": "-10",
        "high": "100",
        "inte": "true",
        "property": "payload",
        "x": 380,
        "y": 60,
        "wires": [
            [
                "5de7f14c5fa1300e"
            ]
        ]
    },
    {
        "id": "9cd7ccbcd4f98756",
        "type": "mqtt out",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "topic": "Cmon/Humi1",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "f94943df.4b82a",
        "x": 650,
        "y": 300,
        "wires": []
    },
    {
        "id": "633d250dd8ca4da2",
        "type": "random",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "low": 1,
        "high": "100",
        "inte": "true",
        "property": "payload",
        "x": 380,
        "y": 300,
        "wires": [
            [
                "9cd7ccbcd4f98756"
            ]
        ]
    },
    {
        "id": "bd8e5d78f2ed6f42",
        "type": "mqtt out",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "topic": "Cmon/Temp2",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "f94943df.4b82a",
        "x": 650,
        "y": 80,
        "wires": []
    },
    {
        "id": "b0b2c3fd820323de",
        "type": "mqtt out",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "topic": "Cmon/Temp3",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "f94943df.4b82a",
        "x": 650,
        "y": 140,
        "wires": []
    },
    {
        "id": "7f2cd0943ca8f7f3",
        "type": "mqtt out",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "topic": "CmonTemp4",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "f94943df.4b82a",
        "x": 650,
        "y": 200,
        "wires": []
    },
    {
        "id": "00bff4c6c9adad62",
        "type": "random",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "low": "-10",
        "high": "100",
        "inte": "true",
        "property": "payload",
        "x": 380,
        "y": 100,
        "wires": [
            [
                "bd8e5d78f2ed6f42"
            ]
        ]
    },
    {
        "id": "efd2c7d234b9b825",
        "type": "random",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "low": "-10",
        "high": "100",
        "inte": "true",
        "property": "payload",
        "x": 380,
        "y": 140,
        "wires": [
            [
                "b0b2c3fd820323de"
            ]
        ]
    },
    {
        "id": "1edb8f0844f35402",
        "type": "random",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "low": 1,
        "high": "100",
        "inte": "true",
        "property": "payload",
        "x": 380,
        "y": 180,
        "wires": [
            [
                "7f2cd0943ca8f7f3"
            ]
        ]
    },
    {
        "id": "47b23f9f5484f723",
        "type": "random",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "low": 1,
        "high": "100",
        "inte": "true",
        "property": "payload",
        "x": 380,
        "y": 340,
        "wires": [
            [
                "44363e7b4917a17f"
            ]
        ]
    },
    {
        "id": "0b4eadfb981d1ab1",
        "type": "random",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "low": 1,
        "high": "100",
        "inte": "true",
        "property": "payload",
        "x": 380,
        "y": 380,
        "wires": [
            [
                "c500e5b2d685a45f"
            ]
        ]
    },
    {
        "id": "44363e7b4917a17f",
        "type": "mqtt out",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "topic": "Cmon/Humi2",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "f94943df.4b82a",
        "x": 650,
        "y": 360,
        "wires": []
    },
    {
        "id": "c500e5b2d685a45f",
        "type": "mqtt out",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "topic": "Cmon/Humi3",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "f94943df.4b82a",
        "x": 650,
        "y": 420,
        "wires": []
    },
    {
        "id": "b9b8e331a6b5ed10",
        "type": "mqtt out",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "topic": "Cmon/pf",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "f94943df.4b82a",
        "x": 620,
        "y": 560,
        "wires": []
    },
    {
        "id": "c173f5c707b620e5",
        "type": "mqtt out",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "topic": "Cmon/Humi4",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "f94943df.4b82a",
        "x": 650,
        "y": 480,
        "wires": []
    },
    {
        "id": "8230da97c30beb96",
        "type": "random",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "low": 1,
        "high": "100",
        "inte": "true",
        "property": "payload",
        "x": 380,
        "y": 420,
        "wires": [
            [
                "c173f5c707b620e5"
            ]
        ]
    },
    {
        "id": "4a2ab78192bba840",
        "type": "random",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "low": 1,
        "high": "100",
        "inte": "true",
        "property": "payload",
        "x": 380,
        "y": 560,
        "wires": [
            [
                "b9b8e331a6b5ed10"
            ]
        ]
    },
    {
        "id": "5df05bc225e56e8c",
        "type": "random",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "low": 1,
        "high": "100",
        "inte": "true",
        "property": "payload",
        "x": 380,
        "y": 620,
        "wires": [
            [
                "a9ec57dbdb6059d5"
            ]
        ]
    },
    {
        "id": "a9ec57dbdb6059d5",
        "type": "mqtt out",
        "z": "f6f2187d.f17ca8",
        "name": "FREQ",
        "topic": "Cmon/FREQ",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "f94943df.4b82a",
        "x": 610,
        "y": 620,
        "wires": []
    },
    {
        "id": "2d3755da72b45851",
        "type": "random",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "low": 1,
        "high": "100",
        "inte": "true",
        "property": "payload",
        "x": 380,
        "y": 680,
        "wires": [
            [
                "6d71b908cdad265b"
            ]
        ]
    },
    {
        "id": "6d71b908cdad265b",
        "type": "mqtt out",
        "z": "f6f2187d.f17ca8",
        "name": "energy1",
        "topic": "Cmon/energy1",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "f94943df.4b82a",
        "x": 620,
        "y": 680,
        "wires": []
    },
    {
        "id": "8a4a83585703c821",
        "type": "mqtt out",
        "z": "f6f2187d.f17ca8",
        "name": "energy2",
        "topic": "Cmon/energy2",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "f94943df.4b82a",
        "x": 620,
        "y": 740,
        "wires": []
    },
    {
        "id": "5b2c4eaa0e0ca898",
        "type": "mqtt out",
        "z": "f6f2187d.f17ca8",
        "name": "Amp",
        "topic": "Cmon/amp",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "f94943df.4b82a",
        "x": 610,
        "y": 800,
        "wires": []
    },
    {
        "id": "e5d6d5fcd1f75fcc",
        "type": "mqtt out",
        "z": "f6f2187d.f17ca8",
        "name": "Volt",
        "topic": "Cmon/volt",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "f94943df.4b82a",
        "x": 610,
        "y": 860,
        "wires": []
    },
    {
        "id": "06b845206c61c30b",
        "type": "mqtt out",
        "z": "f6f2187d.f17ca8",
        "name": "harmonics_p1",
        "topic": "Cmon/harmonics_p1",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "f94943df.4b82a",
        "x": 640,
        "y": 920,
        "wires": []
    },
    {
        "id": "1a0a300327c3b797",
        "type": "mqtt out",
        "z": "f6f2187d.f17ca8",
        "name": "harmonics_p2",
        "topic": "Cmon/harmonics_p2",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "f94943df.4b82a",
        "x": 640,
        "y": 980,
        "wires": []
    },
    {
        "id": "79f07a905b9b3ebe",
        "type": "mqtt out",
        "z": "f6f2187d.f17ca8",
        "name": "harmonics_p3",
        "topic": "Cmon/harmonics_p3",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "f94943df.4b82a",
        "x": 640,
        "y": 1040,
        "wires": []
    },
    {
        "id": "d72a1e8065f74ffa",
        "type": "random",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "low": "10",
        "high": "1000",
        "inte": "true",
        "property": "payload",
        "x": 360,
        "y": 740,
        "wires": [
            [
                "8a4a83585703c821"
            ]
        ]
    },
    {
        "id": "d01874030c78df54",
        "type": "random",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "low": "10",
        "high": "150",
        "inte": "true",
        "property": "payload",
        "x": 360,
        "y": 800,
        "wires": [
            [
                "5b2c4eaa0e0ca898"
            ]
        ]
    },
    {
        "id": "d20b267ba8035faa",
        "type": "random",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "low": "110",
        "high": "245",
        "inte": "true",
        "property": "payload",
        "x": 360,
        "y": 860,
        "wires": [
            [
                "e5d6d5fcd1f75fcc"
            ]
        ]
    },
    {
        "id": "1dceed470c9788fa",
        "type": "inject",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "10",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 110,
        "y": 600,
        "wires": [
            [
                "4a2ab78192bba840",
                "5df05bc225e56e8c",
                "2d3755da72b45851"
            ]
        ]
    },
    {
        "id": "313c110448bb2358",
        "type": "inject",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "10",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 90,
        "y": 900,
        "wires": [
            [
                "d72a1e8065f74ffa",
                "d01874030c78df54",
                "d20b267ba8035faa",
                "d4db793cf7fdca47",
                "07bf6e64c1e0807d",
                "9486f07ee4d27f31",
                "99434cbe0481fa11"
            ]
        ]
    },
    {
        "id": "d4db793cf7fdca47",
        "type": "random",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "low": 1,
        "high": "200",
        "inte": "true",
        "property": "payload",
        "x": 360,
        "y": 920,
        "wires": [
            [
                "06b845206c61c30b"
            ]
        ]
    },
    {
        "id": "07bf6e64c1e0807d",
        "type": "random",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "low": "1",
        "high": "200",
        "inte": "true",
        "property": "payload",
        "x": 360,
        "y": 960,
        "wires": [
            [
                "1a0a300327c3b797"
            ]
        ]
    },
    {
        "id": "9486f07ee4d27f31",
        "type": "random",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "low": "1",
        "high": "200",
        "inte": "true",
        "property": "payload",
        "x": 360,
        "y": 1020,
        "wires": [
            [
                "79f07a905b9b3ebe"
            ]
        ]
    },
    {
        "id": "914bd202073d2366",
        "type": "mqtt out",
        "z": "f6f2187d.f17ca8",
        "name": "Motor",
        "topic": "Cmon/motor",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "f94943df.4b82a",
        "x": 610,
        "y": 1120,
        "wires": []
    },
    {
        "id": "99434cbe0481fa11",
        "type": "random",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "low": "100",
        "high": "15000",
        "inte": "true",
        "property": "payload",
        "x": 360,
        "y": 1100,
        "wires": [
            [
                "914bd202073d2366"
            ]
        ]
    },
    {
        "id": "f94943df.4b82a",
        "type": "mqtt-broker",
        "name": "Cmon-mqtt",
        "broker": "broker.hivemq.com",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    }
]