iot/nodered/flow/flows-InfluxDB-Node-red-Alex.json
[
    {
        "id": "409f00bb9a66746c",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "fc20823bc37ca8b6",
        "type": "inject",
        "z": "409f00bb9a66746c",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "4",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 290,
        "y": 240,
        "wires": [
            [
                "da895f838b4c02a5",
                "80d0be5482deeeb3",
                "3bb0aa5b4e8745b8"
            ]
        ]
    },
    {
        "id": "80d0be5482deeeb3",
        "type": "random",
        "z": "409f00bb9a66746c",
        "name": "random temp",
        "low": "25",
        "high": "35",
        "inte": "true",
        "property": "payload",
        "x": 490,
        "y": 140,
        "wires": [
            [
                "ed7efd986069df7a"
            ]
        ]
    },
    {
        "id": "da895f838b4c02a5",
        "type": "random",
        "z": "409f00bb9a66746c",
        "name": "random humi",
        "low": "55",
        "high": "75",
        "inte": "true",
        "property": "payload",
        "x": 490,
        "y": 200,
        "wires": [
            [
                "a9a25f755bbf6ff6"
            ]
        ]
    },
    {
        "id": "3bb0aa5b4e8745b8",
        "type": "change",
        "z": "409f00bb9a66746c",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "timeStamp",
                "pt": "global",
                "to": "",
                "tot": "date"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 500,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "ed7efd986069df7a",
        "type": "function",
        "z": "409f00bb9a66746c",
        "name": "global set temp",
        "func": "global.set('Temp',msg.payload);\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 760,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "a9a25f755bbf6ff6",
        "type": "function",
        "z": "409f00bb9a66746c",
        "name": "global set humi",
        "func": "global.set('Humi',msg.payload);\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 760,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "298cd816502f272b",
        "type": "inject",
        "z": "409f00bb9a66746c",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "4",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 310,
        "y": 480,
        "wires": [
            [
                "266882a9234e83e7"
            ]
        ]
    },
    {
        "id": "266882a9234e83e7",
        "type": "function",
        "z": "409f00bb9a66746c",
        "name": "get data ",
        "func": "msg.topic = \"InfluxData\";\n\nvar  timeStamp = global.get('timeStamp');\nvar  temp  = global.get('Temp');\nvar  humi = global.get('Humi');\nmsg.payload = {\n    \"TimeStamp\": timeStamp,\n    \"Temperature\":temp,\n    \"Humidity\" : humi\n}\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 540,
        "y": 480,
        "wires": [
            [
                "eff531a9bd0d729a",
                "c3a7bbcd8b49f40e"
            ]
        ]
    },
    {
        "id": "eff531a9bd0d729a",
        "type": "debug",
        "z": "409f00bb9a66746c",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 820,
        "y": 500,
        "wires": []
    },
    {
        "id": "c3a7bbcd8b49f40e",
        "type": "influxdb out",
        "z": "409f00bb9a66746c",
        "influxdb": "1c1a5edef41716e3",
        "name": "cmonorg",
        "measurement": "Envavorment",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "cmonorg",
        "bucket": "cmonbucket",
        "x": 800,
        "y": 400,
        "wires": []
    },
    {
        "id": "468e42d8c04c9a0c",
        "type": "inject",
        "z": "409f00bb9a66746c",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "4",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 310,
        "y": 700,
        "wires": [
            [
                "68bc74de8a4a9476",
                "db789b9958d153f4"
            ]
        ]
    },
    {
        "id": "68bc74de8a4a9476",
        "type": "influxdb in",
        "z": "409f00bb9a66746c",
        "influxdb": "e7fc3fa155dde303",
        "name": "Humidity",
        "query": "from(bucket: \"alex\")\n  |> range(start:-30m)\n  |> filter(fn: (r) => r[\"_measurement\"] == \"Envavorment\")\n  |> filter(fn: (r) => r[\"_field\"] == \"Humidity\")\n  |> last()",
        "rawOutput": false,
        "precision": "",
        "retentionPolicy": "",
        "org": "alexsys",
        "x": 500,
        "y": 700,
        "wires": [
            [
                "d49e2187e7a53a5a"
            ]
        ]
    },
    {
        "id": "e8a650d22f8a3012",
        "type": "debug",
        "z": "409f00bb9a66746c",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 920,
        "y": 700,
        "wires": []
    },
    {
        "id": "d49e2187e7a53a5a",
        "type": "function",
        "z": "409f00bb9a66746c",
        "name": "Humidity",
        "func": "msg.payload = msg.payload[0]._value;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 700,
        "y": 700,
        "wires": [
            [
                "e8a650d22f8a3012",
                "82e2411a6e0dec8e"
            ]
        ]
    },
    {
        "id": "db789b9958d153f4",
        "type": "influxdb in",
        "z": "409f00bb9a66746c",
        "influxdb": "e7fc3fa155dde303",
        "name": "Temperature",
        "query": "from(bucket: \"alex\")\n  |> range(start:-30m)\n  |> filter(fn: (r) => r[\"_measurement\"] == \"Envavorment\")\n  |> filter(fn: (r) => r[\"_field\"] == \"Temperature\")\n  |> last()",
        "rawOutput": false,
        "precision": "",
        "retentionPolicy": "",
        "org": "alexsys",
        "x": 510,
        "y": 860,
        "wires": [
            [
                "0860e14748daf121"
            ]
        ]
    },
    {
        "id": "334467acc07056c3",
        "type": "debug",
        "z": "409f00bb9a66746c",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 920,
        "y": 860,
        "wires": []
    },
    {
        "id": "0860e14748daf121",
        "type": "function",
        "z": "409f00bb9a66746c",
        "name": "Temperature",
        "func": "msg.payload = msg.payload[0]._value;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 710,
        "y": 860,
        "wires": [
            [
                "334467acc07056c3",
                "494e729a01f8cac3"
            ]
        ]
    },
    {
        "id": "82e2411a6e0dec8e",
        "type": "ui_gauge",
        "z": "409f00bb9a66746c",
        "name": "",
        "group": "3b286b87fe7fab38",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "donut",
        "title": "Humidity",
        "label": "%Hr.",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "75",
        "seg2": "85",
        "diff": false,
        "className": "",
        "x": 920,
        "y": 640,
        "wires": []
    },
    {
        "id": "494e729a01f8cac3",
        "type": "ui_gauge",
        "z": "409f00bb9a66746c",
        "name": "",
        "group": "3b286b87fe7fab38",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "donut",
        "title": "Temperature",
        "label": "*C",
        "format": "{{value}}",
        "min": 0,
        "max": "60",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "35",
        "seg2": "40",
        "diff": false,
        "className": "",
        "x": 930,
        "y": 800,
        "wires": []
    },
    {
        "id": "1c1a5edef41716e3",
        "type": "influxdb",
        "hostname": "127.0.0.1",
        "port": "8086",
        "protocol": "http",
        "database": "my_data",
        "name": "Cmon",
        "usetls": false,
        "tls": "",
        "influxdbVersion": "2.0",
        "url": "http://localhost:8086",
        "timeout": "",
        "rejectUnauthorized": true
    },
    {
        "id": "e7fc3fa155dde303",
        "type": "influxdb",
        "hostname": "127.0.0.1",
        "port": "8086",
        "protocol": "http",
        "database": "data_vibration",
        "name": "data to influx db",
        "usetls": false,
        "tls": "",
        "influxdbVersion": "2.0",
        "url": "http://localhost:8086",
        "timeout": "10",
        "rejectUnauthorized": true
    },
    {
        "id": "3b286b87fe7fab38",
        "type": "ui_group",
        "name": "Default",
        "tab": "618dcb7f98a0b9fc",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "618dcb7f98a0b9fc",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]