iot/nodered/flow/MQTT-test-server-V2.json
[
    {
        "id": "8078f0e2458c6a84",
        "type": "tab",
        "label": "MQTT-Cmon-server",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "2c6873d2.992abc",
        "type": "mqtt out",
        "z": "8078f0e2458c6a84",
        "name": "",
        "topic": "sensors/temp1",
        "qos": "1",
        "retain": "true",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "407a01e4.6b637",
        "x": 660,
        "y": 80,
        "wires": []
    },
    {
        "id": "be80048.8f232f8",
        "type": "mqtt in",
        "z": "8078f0e2458c6a84",
        "name": "",
        "topic": "sensors/temp1",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "407a01e4.6b637",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 160,
        "y": 520,
        "wires": [
            [
                "8640b8ff.f82ff8",
                "1ad6c931ddd52d0e"
            ]
        ]
    },
    {
        "id": "8640b8ff.f82ff8",
        "type": "debug",
        "z": "8078f0e2458c6a84",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 390,
        "y": 520,
        "wires": []
    },
    {
        "id": "d9beed59.94155",
        "type": "inject",
        "z": "8078f0e2458c6a84",
        "name": "",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "5",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "topic": "sensors/temp1",
        "x": 190,
        "y": 160,
        "wires": [
            [
                "f7c5a849586b1e1e"
            ]
        ]
    },
    {
        "id": "f7c5a849586b1e1e",
        "type": "createrandom",
        "z": "8078f0e2458c6a84",
        "generator": "Number",
        "type_generator": "generator",
        "label": "",
        "param_1": "1",
        "type_param_1": "Minimum",
        "param_2": "100",
        "type_param_2": "Maximum",
        "param_3": "",
        "type_param_3": "",
        "f_use_debug": false,
        "x": 420,
        "y": 160,
        "wires": [
            [
                "2c6873d2.992abc"
            ]
        ]
    },
    {
        "id": "30719d6c23c91c72",
        "type": "mqtt in",
        "z": "8078f0e2458c6a84",
        "name": "",
        "topic": "sensors/temp2",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "407a01e4.6b637",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 160,
        "y": 580,
        "wires": [
            [
                "f59c9226c4ff5b88"
            ]
        ]
    },
    {
        "id": "f59c9226c4ff5b88",
        "type": "debug",
        "z": "8078f0e2458c6a84",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 390,
        "y": 580,
        "wires": []
    },
    {
        "id": "d8c1a2fa6a748ffb",
        "type": "mqtt out",
        "z": "8078f0e2458c6a84",
        "name": "",
        "topic": "sensors/temp2",
        "qos": "1",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "407a01e4.6b637",
        "x": 660,
        "y": 140,
        "wires": []
    },
    {
        "id": "aae3cf010b2fd165",
        "type": "createrandom",
        "z": "8078f0e2458c6a84",
        "generator": "Number",
        "type_generator": "generator",
        "label": "",
        "param_1": "1",
        "type_param_1": "Minimum",
        "param_2": "100",
        "type_param_2": "Maximum",
        "param_3": "",
        "type_param_3": "",
        "f_use_debug": false,
        "x": 420,
        "y": 200,
        "wires": [
            [
                "d8c1a2fa6a748ffb"
            ]
        ]
    },
    {
        "id": "57d3eac3961c2197",
        "type": "inject",
        "z": "8078f0e2458c6a84",
        "name": "",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "5",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "topic": "sensors/temp2",
        "x": 190,
        "y": 200,
        "wires": [
            [
                "aae3cf010b2fd165"
            ]
        ]
    },
    {
        "id": "42db6fabe0cfb1d0",
        "type": "mqtt out",
        "z": "8078f0e2458c6a84",
        "name": "",
        "topic": "sensors/humi1",
        "qos": "1",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "407a01e4.6b637",
        "x": 680,
        "y": 200,
        "wires": []
    },
    {
        "id": "2dd2973c9dcb03e7",
        "type": "createrandom",
        "z": "8078f0e2458c6a84",
        "generator": "Number",
        "type_generator": "generator",
        "label": "",
        "param_1": "1",
        "type_param_1": "Minimum",
        "param_2": "100",
        "type_param_2": "Maximum",
        "param_3": "",
        "type_param_3": "",
        "f_use_debug": false,
        "x": 420,
        "y": 240,
        "wires": [
            [
                "42db6fabe0cfb1d0"
            ]
        ]
    },
    {
        "id": "a605401bfe12f703",
        "type": "inject",
        "z": "8078f0e2458c6a84",
        "name": "",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "5",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "topic": "sensors/humi1",
        "x": 180,
        "y": 240,
        "wires": [
            [
                "2dd2973c9dcb03e7"
            ]
        ]
    },
    {
        "id": "093ad64d958c0bb1",
        "type": "mqtt out",
        "z": "8078f0e2458c6a84",
        "name": "",
        "topic": "sensors/humi2",
        "qos": "1",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "407a01e4.6b637",
        "x": 680,
        "y": 260,
        "wires": []
    },
    {
        "id": "9a7148d2e76902fb",
        "type": "createrandom",
        "z": "8078f0e2458c6a84",
        "generator": "Number",
        "type_generator": "generator",
        "label": "",
        "param_1": "1",
        "type_param_1": "Minimum",
        "param_2": "100",
        "type_param_2": "Maximum",
        "param_3": "",
        "type_param_3": "",
        "f_use_debug": false,
        "x": 420,
        "y": 280,
        "wires": [
            [
                "093ad64d958c0bb1"
            ]
        ]
    },
    {
        "id": "691a43d9d1648482",
        "type": "inject",
        "z": "8078f0e2458c6a84",
        "name": "",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "5",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "topic": "sensors/humi2",
        "x": 180,
        "y": 280,
        "wires": [
            [
                "9a7148d2e76902fb"
            ]
        ]
    },
    {
        "id": "3e655f2c95b34a66",
        "type": "debug",
        "z": "8078f0e2458c6a84",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 390,
        "y": 620,
        "wires": []
    },
    {
        "id": "d0d610964ae0f751",
        "type": "mqtt in",
        "z": "8078f0e2458c6a84",
        "name": "",
        "topic": "sensors/humi1",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "407a01e4.6b637",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 160,
        "y": 640,
        "wires": [
            [
                "3e655f2c95b34a66"
            ]
        ]
    },
    {
        "id": "df12147034b73016",
        "type": "debug",
        "z": "8078f0e2458c6a84",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 390,
        "y": 660,
        "wires": []
    },
    {
        "id": "68e5724912efb2c2",
        "type": "mqtt in",
        "z": "8078f0e2458c6a84",
        "name": "",
        "topic": "sensors/humi2",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "407a01e4.6b637",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 160,
        "y": 700,
        "wires": [
            [
                "df12147034b73016"
            ]
        ]
    },
    {
        "id": "c2b7688c38108374",
        "type": "mqtt out",
        "z": "8078f0e2458c6a84",
        "name": "",
        "topic": "sensors/Volte1",
        "qos": "1",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "407a01e4.6b637",
        "x": 680,
        "y": 320,
        "wires": []
    },
    {
        "id": "a5ad308f708c8648",
        "type": "createrandom",
        "z": "8078f0e2458c6a84",
        "generator": "Number",
        "type_generator": "generator",
        "label": "",
        "param_1": "220",
        "type_param_1": "Minimum",
        "param_2": "350",
        "type_param_2": "Maximum",
        "param_3": "",
        "type_param_3": "",
        "f_use_debug": false,
        "x": 420,
        "y": 320,
        "wires": [
            [
                "c2b7688c38108374"
            ]
        ]
    },
    {
        "id": "d23a8251839c983b",
        "type": "inject",
        "z": "8078f0e2458c6a84",
        "name": "",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "5",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "topic": "sensors/Volte1",
        "x": 190,
        "y": 320,
        "wires": [
            [
                "a5ad308f708c8648"
            ]
        ]
    },
    {
        "id": "b2c4cb827af6ee14",
        "type": "debug",
        "z": "8078f0e2458c6a84",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 390,
        "y": 700,
        "wires": []
    },
    {
        "id": "9c0a8c4834c0116a",
        "type": "mqtt in",
        "z": "8078f0e2458c6a84",
        "name": "",
        "topic": "sensors/Volte1",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "407a01e4.6b637",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 160,
        "y": 760,
        "wires": [
            [
                "b2c4cb827af6ee14"
            ]
        ]
    },
    {
        "id": "78a3554713e53d5f",
        "type": "mqtt out",
        "z": "8078f0e2458c6a84",
        "name": "",
        "topic": "sensors/Amp1",
        "qos": "1",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "407a01e4.6b637",
        "x": 680,
        "y": 380,
        "wires": []
    },
    {
        "id": "36b7bf2b8501b5cc",
        "type": "inject",
        "z": "8078f0e2458c6a84",
        "name": "",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "5",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "topic": "sensors/Amp1",
        "x": 180,
        "y": 360,
        "wires": [
            [
                "13a6f05d76a2d0bc"
            ]
        ]
    },
    {
        "id": "177091b4d90795d3",
        "type": "debug",
        "z": "8078f0e2458c6a84",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 390,
        "y": 740,
        "wires": []
    },
    {
        "id": "b218f2b3b669815a",
        "type": "mqtt in",
        "z": "8078f0e2458c6a84",
        "name": "",
        "topic": "sensors/Amp1",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "407a01e4.6b637",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 150,
        "y": 820,
        "wires": [
            [
                "177091b4d90795d3"
            ]
        ]
    },
    {
        "id": "13a6f05d76a2d0bc",
        "type": "createrandom",
        "z": "8078f0e2458c6a84",
        "generator": "Number",
        "type_generator": "generator",
        "label": "",
        "param_1": "20",
        "type_param_1": "Minimum",
        "param_2": "550",
        "type_param_2": "Maximum",
        "param_3": "",
        "type_param_3": "",
        "f_use_debug": false,
        "x": 420,
        "y": 360,
        "wires": [
            [
                "78a3554713e53d5f"
            ]
        ]
    },
    {
        "id": "1ad6c931ddd52d0e",
        "type": "influxdb out",
        "z": "8078f0e2458c6a84",
        "influxdb": "1c1a5edef41716e3",
        "name": "InfluxDB",
        "measurement": "Temperature",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "s",
        "retentionPolicyV18Flux": "",
        "org": "cmonorg",
        "bucket": "cmonbucket",
        "x": 400,
        "y": 460,
        "wires": []
    },
    {
        "id": "23fe717071dde93e",
        "type": "inject",
        "z": "8078f0e2458c6a84",
        "name": "",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "5",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "topic": "sensors/Relay1",
        "x": 190,
        "y": 400,
        "wires": [
            [
                "60813acb042edd4e"
            ]
        ]
    },
    {
        "id": "d2eeaf20afa5f5ea",
        "type": "mqtt out",
        "z": "8078f0e2458c6a84",
        "name": "",
        "topic": "sensors/Relay1",
        "qos": "1",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "407a01e4.6b637",
        "x": 660,
        "y": 440,
        "wires": []
    },
    {
        "id": "6065cf61756d4feb",
        "type": "debug",
        "z": "8078f0e2458c6a84",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 390,
        "y": 780,
        "wires": []
    },
    {
        "id": "6872d2da9df32213",
        "type": "mqtt in",
        "z": "8078f0e2458c6a84",
        "name": "",
        "topic": "sensors/Relay1",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "407a01e4.6b637",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 160,
        "y": 880,
        "wires": [
            [
                "6065cf61756d4feb"
            ]
        ]
    },
    {
        "id": "60813acb042edd4e",
        "type": "Number",
        "z": "8078f0e2458c6a84",
        "name": "Random Number",
        "minimum": "0",
        "maximum": "1",
        "roundTo": "2",
        "Floor": true,
        "x": 430,
        "y": 400,
        "wires": [
            [
                "d2eeaf20afa5f5ea"
            ]
        ]
    },
    {
        "id": "028e96072a1f91aa",
        "type": "debug",
        "z": "8078f0e2458c6a84",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "x": 590,
        "y": 20,
        "wires": []
    },
    {
        "id": "407a01e4.6b637",
        "type": "mqtt-broker",
        "name": "",
        "broker": "f17ec3c03a87413687b6d237e547e349.s1.eu.hivemq.cloud",
        "port": "8883",
        "tls": "",
        "clientid": "",
        "autoConnect": true,
        "usetls": true,
        "protocolVersion": 4,
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "1c1a5edef41716e3",
        "type": "influxdb",
        "hostname": "127.0.0.1",
        "port": "8086",
        "protocol": "http",
        "database": "my_data",
        "name": "Cmon",
        "usetls": false,
        "tls": "",
        "influxdbVersion": "2.0",
        "url": "http://localhost:8086",
        "timeout": "",
        "rejectUnauthorized": true
    }
]